header {
	background-color: #0f9d58;
	height: 7rem;
}

header h1, h2 {
	color: #fff;
	text-align: center;
	font-family: Righteous, sans-serif, helvetica;
}

.add-item {
	margin: 0 auto;
	text-align: center;
	padding: 2rem;
}

#item {
	border-radius: 10px;
	width: 20rem;
	height: 2.5rem;
  font-size: 1rem;
}

#add {
	border-radius: 10px;
	height: 2.5rem;
	font-size: 1rem;
	color: #fff;
	background-color: #0f9d58;
	font-family: "Titillium Web", sans-serif, helvetica;
}

.shopping-list {
	margin: 0 auto;
	width: 20rem;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 10px;
}

.list {
	list-style-type: none;
	text-align: center;
   margin: 0;
   padding: 10px 40px;
}

.list li {
	font-size: 1.3rem;
	font-family: "Titillium Web", sans-serif, helvetica;
	border: 2px solid black;
	border-radius: 10px;
	width: 15rem;
	color: #fff;
}

/* Items not yet acquired */
.active  {
	font-size: 1.3rem;
	font-family: "Titillium Web", sans-serif, helvetica;
	border: 2px solid black;
	border-radius: 10px;
	width: 15rem;
	background-color: #0f9d58;
}

/* Items already acquired */
.check {
	font-size: 1.3rem;
	font-family: "Titillium Web", sans-serif, helvetica;
	border: 2px solid black;
	border-radius: 10px;
	width: 15rem;
	background-color: #B0B3B6;
}

#buttons {
	margin: 0 auto;
	text-align: center;
	padding-top: 2em;
}

.reset, .undo {
	background-color: #0f9d58;
  color: #fff;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 10px;
	width: 10rem;
	height: 2.5rem;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	font-family: "Titillium Web", sans-serif, helvetica;
}

